/* Start navbar and home page */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    height: 20000px
}

.navbar a {
    color: white !important;
}

.navbar span {
    color: #ffae42;
    font-weight: bolder;
    font-size: 40px;
}

nav li button {
    padding: 10px 20px !important;
}

.num {
    color: white;
    padding: 10px 20px;
    background-color: #ffae42;
}

.navbar ul li .nav-link {
    color: white !important;
}

.navbar ul li .nav-link:hover {
    color: #ffae42 !important;
}

.bgi {
    background-size: 100% 100%;
    width: 100%;
    height: 627px;
    background-image: url(../images/background-image.jpg);
}
.all{
    position: relative;
    top: 10%;
}

.bgi .text{
    color: white;
    text-align: center;
  
}
.bgi .all .text h1{
    font-size: 80px;
}
.bgi h1 span{
    color: #ffae42;
    font-size: 150px;
}
.bgi .all .text p{
    font-size: 30px;
}
.book{
    margin: auto;
    padding: 5px;
    
}
.input{
    width: 100%;
    padding: 10px 15px;
    border: white solid 1px;
}
.btn1{
    margin: auto auto auto 16%;
    background-color: #ffae42;
    color: white;
    border: white 1px;
    padding: 12px 30px;
}

.phone img {
    background-color: #ffae42 !important;
}

/*End navbar and home page*/

.container {
    width: 1170px;
    margin: auto
}

.container.row.col-xl-4 i {
    width: 50%;
    height: 200px;
}

.col-xl-4 {
    text-align: center;
}

i:hover {
    color: #ffae42;
}
.responsive{width: 100%;height: auto;}
.responsive1{width: 100%;height: auto;}
.responsive2{width: 100%;height: auto;}
.responsive3{width: 100%;height: auto;}